:root {
    --cor1: #223140;
    --cor2: #5c7a94;
    --cor3: #9bbac7;
    --cor4: #f0f1ce;
    --texto-principal: #fff;
    --texto-secundario: #f8f9fa;
    --cor-cards: #000000;
}

body {
    background: var(--cor1);
    background-size: cover, auto;
    color: var(--texto-principal);
}

nav {
    background: rgb(87, 113, 135);
    /* cor2 com transparência */
}

#matrix-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -5;
    pointer-events: none;
    display: block;
}